<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8" />
    <title>Test egghead</title>
    <!-- development version, includes helpful console warnings -->
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="card" class="boxes">
        <header>{{title}}</header>
        <div class="inputBlock">
            <input id="itemForm" v-model="input"  v-on:keypress.enter="addItem" />
            <button  v-on:click="addItem" v-bind:disabled="buttonDisabled">Add Dinosaur</button>
        </div>
        <ul v-for="(item,index) in items">
            <li>
                <button class="delete" v-on:click="deleteItem(index)">X</button>
                <button v-on:click="incrementQuantity(index)">+</button>
                <input class="quantite" v-model="item.quantity" disabled/>
                <button v-on:click="decrementQuantity(index)">-</button>
                {{item.text}}
                <button v-on:click="nullQuantity(index)">Extinction</button>
            </li>
        </ul>
        <ul>
            <li>Total Dinausaurs : {{ totalDinos }} <span class="infoSpan">Updated :{{dinosUpdated}}</span></li>
            <li>Total species : {{ totalSpecies }}  <span class="infoSpan">Updated :{{speciesUpdated}}</span></li>
        </ul>
    </div>


    <script>
        var card = new Vue({
            el: "#card",
            data: {
                title: "Dinosaurs",
                input:"",
                dinosUpdated:0,
                speciesUpdated:0,
                items: [
                    { text: "Velociraptor", quantity:5 },
                    { text: "Triceraptor", quantity:4 },
                    { text: "stegosaurus", quantity:6 },
                ],
            },
            methods: {
                addItem: function () {
                    // var input = document.getElementById("itemForm");

                    if (this.input !== '') {
                        this.items.push({
                            text: this.input,
                            quantity:0
                        })
                        this.input = "";
                    }
                },
                deleteItem: function(index){
                    if(index >=0){
                       this.items.splice(index,1); 
                    }
                },
                incrementQuantity : function (index){
                    this.items[index].quantity++;
                },
                decrementQuantity: function(index){
                    this.items[index].quantity--;   
                },
                nullQuantity: function(index){
                    this.items[index].quantity=0;   
                }
            },
            computed:{
                totalDinos: function(){
                    this.dinosUpdated +=1;
                    this.speciesUpdated +=1;
                    var sum =0;
                    var items = this.items;
                    for(var i in items){
                        sum += items[i].quantity;
                        
                    }
                    return sum;
                },
                totalSpecies: function(){
                    return this.items.length;
                },
                buttonDisabled: function(){
                    if(this.input == "") return true;
                    else return false;
                }
            }
        })
    </script>
</body>


</html>