/** css of the page **/

.boxes{
    
    border: 1px 1px 1px 1px;
    width: 500px;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

li{
    border: 2px 2px 2px 2px;
    width: 400px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
}

.delete{
    background-color: rgb(161, 46, 46);
    color: white;
    border-radius: 30%;
    height: 25px;
    width: 40px;
}