<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8" />
    <title>Test egghead</title>
    <!-- development version, includes helpful console warnings -->
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app1" class="boxes">
        <header>{{title | capitalize}}</header>
        <form class="inputBlock" v-on:submit.prevent="addItem">
            <input id="itemForm" v-model="input" />
            <button v-bind:disabled="buttonDisabled">{{buttonText}}</button>
        </form>
        <div>
            <ul>
                <li v-for="(item,index) in items">
                    <h3>{{item.text | capitalize}}</h3>
                    <span>le {{item.text | undercase}} pèse {{item.weight}}</span><br>
                    <a href="">{{item.text | undercase | url}}</a>
                </li><br>
            </ul>
        </div>
    </div>



    <script>
        var app = new Vue({
            el: "#app1",
            data: {
                title: "mes dinosaures",
                input: "",
                buttonText: "add Dinosaur",
                items: [
                    {
                        text: "Cachotopsor",
                        weight: "15 kg"
                    },
                    {
                        text: "animalozor",
                        weight: "10 kg"
                    },
                    {
                        text: "cherchozor",
                        weight: "15000 kg"
                    }
                ]
            },
            watch:{
                input:_.debounce(function(){
                    this.buttonText = this.input !=="" ? "Add" + this.input : "Add Dinosaur";
                },250)
            },
            methods: {
                addItem: function () {
                    if (this.input !== '') {
                        this.items.push({
                            text: this.input,
                            weight: "300 kg"
                        });
                    }
                    this.input= "";
                },
              
            },
            computed:{
                buttonDisabled:function(){
                    if(this.input == ''){
                        return true
                    }else{
                        return false;
                    }
                }
            },
            filters: {
                capitalize: function (value) {
                    if (!value) return '';
                    value = value.toString();
                    return value.charAt(0).toUpperCase() + value.slice(1);
                },
                undercase: function (value) {
                    if (!value) return '';
                    value = value.toString();
                    return value.toLowerCase();
                },
                url: function (value) {
                    if (!value) return '';
                    value = value.toString();
                    return "https://en.wikipedia.org/wiki/" + value;
                }
            }
        })
    </script>
</body>


</html>